<div class="container" id="presentation">
	<div class="row d-flex justify-content-center align-items-center">
		<div class="presentation1 col-md-12 col-lg-3 d-flex justify-content-center">
            <img src="photos/{{ admin.photo }}" alt="photo">
        </div>
        <div class="presentation2 col-md-12 col-lg-4 d-flex flex-column justify-content-center align-items-center">
            <em>{{ general.Citation }}</em>
            <em>{{ admin.prenom }} {{ admin.nom }}</em>
            <hr>
            <h3>{{ general.description }}</h3>
        </div>
	</div>
</div>
